<!--
Join a meeting room
Created by Anuki Kithara
Last modified: 10/04/2026

This file contains code from the old landing.html page, modified to use Jinja
templating. Please update this with a better description. Please also update the
comments below.
-->

<!-- uses the base template for header and footer -->
{% extends "base.html" %}

<!-- actual content of the page starts here -->
{% block content %}

<!-- Main -->
<main class="main">
    <h1 class="page-title">SignBridge</h1>
    <p class="page-subtitle">Real-Time Sign Language Communication</p>
    <div class="card card-sm">
        <form action="" method="post" novalidate> <!-- no validation done client-side -->
            {{ form.hidden_tag() }} <!-- creates a unique token, used to prevent CSLR attacks -->

            <!-- User's name -->
            <div class="form-group">
                {{ form.user_name.label(class="form-label") }}
                {{ form.user_name() }}
            </div>

            <!-- Room code -->
            <div class="form-group">
                {{ form.room_code.label(class="form-label") }}
                {{ form.room_code() }}
                {% for error in form.room_code.errors %} <!-- returns error if not validated -->
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <!-- Join Button -->
            {{ form.submit() }}

            <div class="divider">OR</div>
        </form>

        <!-- alternatively, create a new room  -->
        <form method="POST" action="{{ url_for('call.create_room') }}">
            {{ create_form.hidden_tag() }}
            {{ create_form.submit() }}
        </form>
</main>

{% endblock %}
<!-- anything added below endblock WILL NOT show up in the page -->